@import "../global.scss";
.amountCard {
  max-width: 30.456rem;
  width: 90%;
  background-color: $color-white;
  margin: auto;
  border-radius: 1rem;
  padding: 1rem 2.1rem;
  transition: max-height 0.3s ease;
  box-shadow: 0 2.5rem 2.5rem -25px rgb(0 0 0 / 0.2);
  &.heightMaxTwo {
    max-height: 25.863rem;
  }
  &.heightMaxOne {
    max-height: 18.863rem;
  }
  > div {
    @include flexRow(0);
    @include spaceBtw;
    margin-bottom: 2rem;
    .cardLeft {
      @include flexRow(1.8rem);
      @include center;
      p {
        @include textStyle(1.284rem, $text-primary, 600);
      }
    }
    span {
      @include textStyle(1.284rem, $icon-color, 600);
    }
  }
  .iconBitcoin {
    width: 3.853rem;
    height: 3.853rem;
    color: $bitcoin-logo-color;
  }

  h4 {
    @include textStyle(3rem, $text-primary, 600);
    margin-bottom: 0.5rem;
  }

  .usdAmt {
    @include flexRow(0);
    @include spaceBtw;
    margin-bottom: 1.5rem;
    h2 {
      @include textStyle(1.8rem, $icon-color, 600);
    }
    > div {
      padding: 0.476rem 1.169rem;
      background-color: $percent-color;
      border-radius: 2rem;

      p {
        @include center;
        @include textStyle(1.284rem, $color-white, 600);
      }
    }
  }
  .btnDown {
    @include flexRow(0);
    @include center;
    margin-bottom: 2.5rem;
    .downM {
      @include textStyle(2.616rem, $icon-color, 900);
    }
    .downUp {
      transform: rotate(180deg);
      @include textStyle(2.616rem, $icon-color, 900);
    }
  }
  .dropDown {
    @include flexRow(0);

    .btn {
      padding: 1rem 4rem;
      background-color: #fa9c21; /* Set your desired color */
      color: white;
      border: none;
      border-radius: 50rem;
      cursor: pointer;
      font-size: 1.2rem;
      transition: background-color 0.3s ease;
    }
    .sell {
      background-color: $lower-color;
    }
    .buy {
      background-color: $higher-color;
    }
  }
}

.calLnkCont {
  padding: 1.8rem 0rem;
  @include flexRow(0);
  @include spaceBtw;
  width: 90%;
  margin: auto;
}
