@import "../global.scss";
.chartCon {
  margin: auto;
  max-width: 30.456rem;
  width: 90%;
  border-radius: 1rem;
  overflow: hidden;
  @include center;
  background-color: $color-white;
  margin-bottom: 2rem;
  box-shadow: 0 2.5rem 2.5rem -25px rgb(0 0 0 / 0.2);
  .chartHead {
    @include flexRow(0);
    @include spaceBtw;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    .headHL {
      @include flexRow(0.9rem);
      @include spaceBtw;
      span {
        @include textStyle(1.2rem, $icon-color, 600);
      }
      .iconL {
        color: $lower-color;
        // @include textStyle(0.8rem, $lower-color, 0);
      }
      .iconH {
        color: $higher-color;
        // @include textStyle(0.8rem, $higher-color, 0);
      }
    }
  }
}
