@import "../global.scss";
.mobileMenu {
  padding: 2.5rem;
  background-color: $color-white;
  color: $icon-color;
  @include flexRow(0);
  @include spaceBtw;
  .activeColor {
    color: $text-primary;
  }
  .iconSize {
    font-size: 2.1rem;
  }
}
