* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: "SFProDisplay-Regular";
  src: url("./fonts/SFProDisplay-Regular.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Semibold";
  src: url("./fonts/SFProDisplay-Semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay-Bold";
  src: url("./fonts/SFProDisplay-Bold.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
body {
  font-family: "SFProDisplay-Regular", sans-serif;
}

$bg-color: #f3f6f9;
$color-white: #ffffff;
$icon-color: #aeb8c4;
$text-primary: #4c5968;
$bitcoin-logo-color: #fa9c21;
$percent-color: #ee225d;
$lower-color: #ef2755;
$higher-color: #1ec070;

@mixin flexRow($gap) {
  display: flex;
  gap: $gap;
}

@mixin flexColumn($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
@mixin spaceBtw() {
  justify-content: space-between;
  align-items: center;
}
@mixin center() {
  justify-content: center;
  align-items: center;
}
@mixin textStyle($size, $color, $font-weight) {
  font-size: $size;
  color: $color;
  font-weight: $font-weight;
}
@mixin buySellCon() {
  width: 3.85rem;
  height: 3.85rem;
  border-radius: 50%;
  @include flexRow(0);
  @include center;
}
